<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <!-- <img
    src="<%=profile.avatar %>"
    alt="<%= profile.name %> avatar"
    />
  </div> -->
  <div class="card" style="width: 18rem;">
    <img src="<%=profile.avatar %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title"><%= profile.name %> </h3>
      <h5 class="card-title"><%= profile.location%> </h5>
      <h5 class="card-title"><%= profile.favoriteAnime%></h5>
      <h5 class="card-title"><%= anime.name%> </h5>
      <a href="/profiles" class="btn btn-primary">Everyone</a>

      <% if (user?.profile.avatar) { %>
        <form action="/profiles/<%= profile._id %>/edit" method="get">
          <a href="/profiles/<%= profile._id %>/edit" class="btn btn-primary">Edit</a>
        </form>
        <% } %>
    </div>
    </div>
  </main>
<%- include('../partials/footer') %>
