<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/hottest.css">
<link rel="stylesheet" href="/stylesheets/style2.css">
<link id="favicon" rel="icon" href="/favicon/favicon (1).ico" type="image">
<%- include('../partials/nav') %>
  <main>
    <% results.data.forEach(result=> { %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <img name="image" src="<%= result.attributes.posterImage.small%>" class="card-img-top">
          <input hidden type="text" name="name" id="" value="<%= result.attributes.titles.en %>">
          <input hidden type="text" name="start" id="" value="<%= result.attributes.startDate %>">
          <h5><%= result.attributes.popularityRank %>. <%= result.attributes.canonicalTitle %></h5>
          <a href="/animes/<%= result.id %>">
            <button type="submit" class="btn btn-outline-secondary">Read More</button>
          </a>
        </div>
      </div>
      <% })%>
  </main>
<%- include('../partials/footer') %>
