<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% results.data.forEach(result => { %>
    <h2><%= result.attributes.slug %></h2>
    <img src="<%= result.attributes.posterImage.medium%>" alt="">
  <% }) %>
</main>

<%- include('../partials/footer') %>