<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/AllAnime.css">

<%- include('../partials/nav') %>

  <main>
    <% if (search) { %>
      <h1>Search Results</h1>
        <h2>You searched for <%= search %>
        </h2>
        <% } %>
      <% results.data.forEach(result=> { %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <form action="/profiles/addAnime" method="post">
                <img name="image" src="<%= result.attributes.posterImage.small%>" class="card-img-top">
                <h2><%= result.attributes.slug %></h2>
                <input hidden type="text" name="name" id="" value="<%= result.attributes.slug %>">
                <input hidden type="text" name="start" id="" value="<%= result.attributes.startDate %>">
                <input hidden type="text" name="end" id="" value="<%= result.attributes.endDate %>">
                <button type="submit">Add to Anime List</button>
              </form>
              <a href="/animes/<%= result.id %>">
                <button>Leave a comment</button>
              </a>
            </div>
          </div>
      <% }) %>
  </main>

<%- include('../partials/footer') %>