<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<img src ="<%=results.data.attributes.posterImage.small%>">
<h2><%=results.data.attributes.slug%></h2>
<h4><%=results.data.attributes.description%></h4>

</main>

<%- include('../partials/footer') %>