<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css">
<link id="favicon" rel="icon" href="/favicon/favicon (1).ico" type="image">
<%- include('../partials/nav') %>
  <main>
    <img src="<%=results.data.attributes.posterImage.small%>"><br>
    <p class="description"><strong><%=results.data.attributes.canonicalTitle%></strong><br><%=results.data.attributes.description%></p>
  </main>
<%- include('../partials/footer') %>